/* atomic */
@import './atomic/margin.css';
@import './atomic/padding.css';

/* components */
@import '../fonts/fonts.css';
@import './variables.css';
@import './components/header.css';
@import './components/logotype.css';
@import './components/image-element.css';
@import './components/item.css';
@import './components/icon-size.css';
@import './components/grid-image.css';
@import './components/heading.css';
@import './components/form.css';
@import './components/button.css';
@import './components/main.css';
@import './components/absolute-image.css';
@import './components/seperator.css';
@import './components/column.css';
@import './components/hexagon.css';
@import './components/footer.css';
@import './components/social-links.css';
@import './components/coverflow.css';

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body
{
    height: 100%;
    width: 100%;
}
body
{
    font: normal normal 14px 'TRY Clother';
    padding: 15px 0;
}

.container{
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
}
