:root
{
	--color-white: #fff;
	
	--color-blue: #00BBFF;

  --color-light-blue: #CDEAFF;

  --color-dark-blue: #325998;
	
	--color-black: #000000;

  --color-green: #3FAC4F;

  --color-dark: #2D3136;

  --color-yellow: #F8CC29;

  --color-grey: #B9B9B9;

  --header-height: 139px;

  --border-radius: 40px;
}