.absolute-image
{
  position: absolute;
}

.absolute-image-road
{
  top: -50px;
  left: -50px;
  z-index: -1;
}

.absolute-image-plane
{
  right: 37%;
  bottom: 88px;
}

.absolute-image-right
{
  right: 0;
}

.absolute-image-left
{
  left: 0;
}


@media only screen and (max-width: 1320px) {
  .absolute-image-left
  {
    left: -160px;
  }
  .absolute-image-right
  {
    right: -160px;
  }
}

@media only screen and (max-width: 1250px) {
  .absolute-image-road
  {
    display: none;
  }

  .absolute-image-plane
  {
    display: none;
  }
}


@media only screen and (max-width: 991px) {
  .absolute-image-left
  {
    left: -240px;
  }
  .absolute-image-right
  {
    right: -240px;
  }
}