.background-theme--green
{
  background-color: var(--color-green);
}

.background-theme-geometric-desktop
{
  position: absolute;
}

.background-theme-geometric-mobile
{
  display: none;
}

.background-theme--freeform-shape-form
{
  position: relative;
}

.background-theme--freeform-shape
{
  position: relative;
  height: 838px;
}

.mobile
{
  display: none;
}

.thanks-letter-mobile
{
  display: none;
}

@media only screen and (max-width: 1127px) {
  .background-theme--freeform-shape
  {
    height: 908px;
  }
  
  .thanks-letter__text
  {
    height: 640px;
  }
  
}


@media only screen and (max-width: 1002px) {

  .thanks-letter__text
  {
    height: 770px;
  }
}

@media only screen and (max-width: 740px) {

  .thanks-letter__text
  {
    height: 825px;
  }
}

@media only screen and (max-width: 710px) {
  .thanks-letter__text
  {
    height: 810px;
    line-height: 29.4px;
  }
}

@media only screen and (max-width: 700px) {
  .thanks-letter__text
  {
    height: 830px;
    line-height: 29.4px;
  }
}

@media only screen and (max-width: 645px) {
  .background-theme-geometric-desktop
  {
    display: none;
  }
  
  .background-theme-geometric-mobile
  {
    display: inline-block;
    position: absolute;
  }
}

@media only screen and (max-width: 590px) {
  .freedom-shape__middle
  {
    padding: 0 28px;
  }
}

@media only screen and (max-width: 545px) {
  .mobile
  {
    display: block;
  }
  .mobile-bottom
  {
    height: 122px;
  }

  .desktop
  {
    display: none;
  }

}
