.background-theme--green
{
  background-color: var(--color-green);
}

.background-theme--freeform-shape-form
{
  position: relative;
  height: 344px;
}

.background-theme--geometric
{
  background: url('../../images/form-background-icons.png');
}

.background-theme--freeform-shape
{
  position: relative;
  height: 838px;
}

.freedom-shape__middle
{
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  padding: 0 50px;
}

.mobile
{
  display: none;
}

.thanks-letter-mobile
{
  display: none;
}

@media only screen and (max-width: 1105px) {
  .background-theme--freeform-shape
  {
    height: 915px;
  }
}

@media only screen and (max-width: 915px) {
  .thanks-letter__text
  {
    font-size: 22px;
  }
  
  .background-theme--freeform-shape
  {
    height: 950px;
  }
}

@media only screen and (max-width: 900px) {
  .thanks-letter-desktop
  {
    display: none;
  }

  .thanks-letter-mobile
  {
    display: block;
  }
}

@media only screen and (max-width: 760px) {
  .background-theme--freeform-shape-form
  {
    height: 300px;
  }
}

@media only screen and (max-width: 645px) {
  .background-theme--freeform-shape-form
  {
    height: 438px;
  }
}

@media only screen and (max-width: 590px) {
  .freedom-shape__middle
  {
    padding: 0 28px;
  }

}

@media only screen and (max-width: 545px) {
  .mobile
  {
    display: block;
  }
  .mobile-bottom
  {
    height: 122px;
  }

  .desktop
  {
    display: none;
  }

}