.footer__bottom
{
  border-radius: var(--border-radius);
}

.footer__bottom-bottom
{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__bottom-map
{
  width: 67.5%;
}

.footer__bottom-links
{
  width: 30%;
}

@media only screen and (max-width: 1060px) {
  .footer__bottom-map
  {
    width: 100%;
  }

  .footer__bottom-links
  {
    width: 100%;
  }

  .footer__bottom-links
  {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
  }

  .footer__bottom-links ul
  {
    width: 50%;
  }
}

@media only screen and (max-width: 640px) {
  .footer__bottom-links ul
  {
    width: 100%;
  }
  .footer__bottom-links ul:first-child
  {
    margin-bottom: 50px;
  }
}