.form
{
  position: absolute;
  top: 70px;
  left: 35px;
  right: 35px;
}

.form__top
{
  background-color: var(--color-green);
  background-image: url('../../images/form-background-icons.png');
  padding: 35px 30px 30px;
  border-radius: var(--border-radius);
}

.form__element
{
  display: flex;
}

.form__element-column
{
  flex-direction: column;
}

.form__input
{
  border-radius: 8px;
  font-size: 16px;
  line-height: 23px;
}

.form__input-button--size
{
  width: 100%;
  height: 45px;
  padding: 0 14px;
}

.form__background-image__image-top
{
  position: absolute;
  top: 0;
  left: 0;
  height: 215px;
}

.form__background-image__image-bottom
{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 200px;
}

.form__background-image__image-desktop
{
  display: flex;
}

.form__background-image__image-mobile
{
  display: none;
}

@media only screen and (max-width: 1160px) {
  .form
  {
    top: 40px;
  }
}

@media only screen and (max-width: 1127px) {
  .form__background-image__image-top
  {
    height: 185px;
  }

  .form__background-image__image-bottom
  {
    height: 221px;
  }
}

@media only screen and (max-width: 1000px) {
  .form__input-button--size
  {
    height: 40px;
  }
}

@media only screen and (max-width: 991px) {
  .form__top
  {
    padding: 25px 25px 28px;
  }
}

@media only screen and (max-width: 915px) {
  .form__background-image__image-bottom
  {
    height: 120px;
  }
}

@media only screen and (max-width: 895px) {

  .form{
    top: 20px;
    left: 50px;
    right: 50px;
  }

  .form__input-button--size
  {
    height: 32px;
  }
  .form__background-image__image-bottom
  {
    height: 130px;
  }

  .form__background-image__image-top
  {
    height: 155px;
  }
}

@media only screen and (max-width: 727px) {

  .background-theme--freeform-shape {
    height: 1034px;
  }

  .form__background-image__image-top {
    height: 132px;
  }
}

@media only screen and (max-width: 727px) {
  .form
  {
    top: 30px;
    left: 30px;
    right: 30px;
  }
}

@media only screen and (max-width: 645px) {

  .form__element
  {
    flex-direction: column;
  }

  .form__element input
  {
    margin-bottom: 20px;
  }
  
  .form__background-image__image-desktop
  {
    display: none;
  }

  .form__background-image__image-mobile
  {
    display: flex;
    height: 480px;
    width: 400px;
  }

  .form {
    top: 80px;
    left: 118px;
    right: 118px;
  }
}

@media only screen and (max-width: 600px) {
  .form__background-image__image-mobile {
    height: 400px;
    width: 350px;
  }

  .form
  {
    top: 70px;
  }
}

@media only screen and (max-width: 555px) {
  .form__background-image__image-top
  {
    top: 15px;
    height: 145px;
  }
}

@media only screen and (max-width: 540px) {
  .form__background-image__image-mobile {
    height: 370px;
    width: 315px;
  }

  .form
  {
    top: 50px;
    left: 100px;
    right: 100px;
  }
}

@media only screen and (max-width: 480px) {
  .form
  {
    top: 50px;
    left: 75px;
    right: 75px;
  }
}

@media only screen and (max-width: 430px) {
  .form
  {
    top: 50px;
    left: 50px;
    right: 50px;
  }
}
