.grid-image-description
{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.grid-image-description-left
{
  width: 47.5%;
  margin-left: 1%;
}

.grid-image-description-left__item
{
  display: flex;
  align-items: center;
}

.grid-image-description__image
{
  display: flex;
  position: relative;
}

.grid-image-description__heading
{
  font-size: 26px;
  line-height: 36px;
}

.grid-image-description__image-middle-image
{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.grid-image-description__image-middle-image--size
{
  width: 20px;
  height: 20px;
}

.grid-image-description-form-columns
{
  position: relative;
  margin-bottom: 150px !important;
}

.grid-description__theme-light-blue
{
  background-color: var(--color-light-blue);
}

.grid-description__heading
{
  font-size: 56px;
  line-height: 78px;
}

.swiper-slide.grid-image-description__item-size-30
{
  width: 30% !important;
}

.grid-image-description__item-size-30:nth-child(n+4)
{
  margin-top: 30px;
}

.grid-column
{
  padding: 25px 20px;
  border-radius: var(--border-radius-20);
  height: 264px !important;
}

.swiper-slide.grid-image-description__item-size-22
{
  width: 22% !important;
  height: 264px !important;
}

.grid-image-description__item-size-22:nth-child(n+5)
{
  margin-top: 165px;
}

.grid-column-3
{
  border-radius: var(--border-radius-20);
  /* box-shadow: 0px 4px 14px 0px #00000026; */
}

.grid-image-description__item-theme-white
{
  background-color: var(--color-white);
}

.grid-image-description__item-middle-image-size
{
  width: 39px;
  height: 33px;
}

.grid-image-description__item-sertificate
{
  width: 30% !important;
  height: 298px !important;
  display: flex !important;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.grid-image-description__item-sertificate-size
{
  width: 170px;
  height: 170px;
}

.grid-image-description__item-sertificate-size__middle-image
{
  width: 245px;
}

.grid-image-description__item-sertificate--theme
{
  /* background-image: (../../images/background-sertificate.png); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.grid-description__heading--size
{
  width: 60%;
}

.grid-image-hexagon-description__heading
{
  font-size: 16px;
  font-weight: 700;
  line-height: 22.4px;
}

@media only screen and (max-width: 1250px) {
  .grid-description__heading
  {
    font-size: 45px;
  }

  .grid-image-description__heading
  {
    font-size: 22px;
    line-height: 28px;
  }

}

@media only screen and (max-width: 1010px) {
  .swiper-slide.grid-image-description__item-size-22
  {
    height: 248px !important;
  }
}

@media only screen and (max-width: 991px) {
  .grid-description__heading
  {
    font-size: 35px;
  }
  .grid-image-description-left
  {
    width: 50%;
  }

  .grid-image-description-form-columns 
  {
    margin-bottom: 110px !important;
  }
}

@media only screen and (max-width: 960px) {
  .grid-image-description__swiper
  {
    flex-wrap: nowrap;
  }

  .grid-image-description__item-size-30:nth-child(n+4)
  {
    margin-top: 0;
  }

  .grid-image-description__item-size-22:nth-child(n+5)
  {
    margin-top: 0;
  }
}

@media only screen and (max-width: 760px) {
  .grid-image-description-left
  {
    width: 100%;
  }

  .grid-description__heading
  {
    font-size: 29px;
    line-height: 42px;
  }
}

@media only screen and (max-width: 645px) {
  .grid-description__heading
  {
    font-size: 26px;
  }
}

@media only screen and (max-width: 640px) {
  .grid-image-description-form-columns 
  {
    margin-bottom: 55px !important;
  }
}

@media only screen and (max-width: 525px) {
  .grid-image-description__heading 
  {
    font-size: 20px;
  }
}