.header
{
	height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--border-radius);
  padding: 0 50px;
}

.header--theme
{
  background: url('../../images/background\ header.png');
  background-position: center;
}

.header--theme-blue
{
	background-color: var(--color-blue);
}

.header__column
{
	display: flex;
	align-items: center;
}

.header__right-column
{
  width: 380px;
  display: flex;
  justify-content: end;
}


@media only screen and (max-width: 740px) {
  .header
  {
    padding: 0 30px;
  }
}