.image__element--fit-position-center
{
  object-position: center;
}

.image__element--fit-contain
{
  object-fit: contain;
}

.image__element
{
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.image__position
{
  position: absolute;
  left: 50%;
  top: -82px;
  transform: translateX(-50%);
}

.image__position-size
{
  width: 192px;
  height: 164px;
}

.image-rounded
{
  border-radius: 50%;
}


@media only screen and (max-width: 1156px) {
  .image__position-size
  {
    width: 170px;
    height: 142px;
  }

  .image__position
  {
    top: -71px;
  }
}