.logotype__heading
{
  width: 380px;
  font-size: 17px;
}

.logotype__image
{
  width: 90px;
  height: 90px;
}

.logotype__heading--theme-white
{
  color: var(--color-white);
}


@media only screen and (max-width: 740px) {
  .logotype__heading
  {
    font-size: 15px;
  }
}