.swiper {
  width: 95%;
}

.swiper1 {
  width: 95%;
  height: 385px;
}

.swiper2
{
  padding-top: 82px !important;
  padding-bottom: 50px !important;
}

.swiper3 {
  width: 95%;
  height: 400px;
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.swiper .swiper-wrapper.disabled
{
  transform: translate3d(0px, 0, 0) !important;
}

.swiper1 .swiper-wrapper.disabled
{
  transform: translate3d(0px, 0, 0) !important;
}

.swiper2 .swiper-wrapper.disabled
{
  transform: translate3d(0px, 0, 0) !important;
}

.swiper3 .swiper-wrapper.disabled
{
  transform: translate3d(0px, 0, 0) !important;
}

.swiper-pagination.disabled
{
  display: none;
}

.swiper-pagination1.disabled
{
  display: none;
}

.swiper-pagination2.disabled
{
  display: none;
}

.swiper-pagination3.disabled
{
  display: none;
}


@media only screen and (max-width: 960px) {
  .swiper
  {
    height: 315px;
  }

  .swiper1 .swiper-slide
  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .swiper2 {
    width: 95%;
    height: 370px;
  }

  .swiper3
  {
    height: 370px;
  }
}

@media only screen and (max-width: 430px) {
  .swiper
  {
    height: 290px;
  }

  .swiper1
  {
    height: 335px;
  }

  .swiper2
  {
    height: 335px;
  }

  .swiper3
  {
    height: 335px;
  }
}
