.swiper {
  width: 95%;
}

.swiper1 {
  width: 95%;
  height: 360px;
}

.swiper .swiper-wrapper.disabled
{
  transform: translate3d(0px, 0, 0) !important;
}

.swiper1 .swiper-wrapper.disabled
{
  transform: translate3d(0px, 0, 0) !important;
}

.swiper2 .swiper-wrapper.disabled
{
  transform: translate3d(0px, 0, 0) !important;
}

.swiper-pagination.disabled
{
  display: none;
}

.swiper-pagination1.disabled
{
  display: none;
}

.swiper-pagination2.disabled
{
  display: none;
}


@media only screen and (max-width: 960px) {
  .swiper
  {
    height: 315px;
  }
}
