.coverflow
{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-yellow);
  border-radius: var(--border-radius);
}

.coverflow-size
{
  width: 638px;
  height: 173px;
  margin: 0 auto;
}

.coverflow__image
{
  width: 101px;
  height: 81px;
}

.coverflow__image--heading-description
{
  position: relative;
  text-align: center;
}

.coverflow__image--description
{
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translate(-50%, 0);
}

.coverflow__image--heading-description-description
{
  font-size: 30px;
  font-weight: 900;
  line-height: 42px;
}

.coverflow-heading
{
  text-transform: uppercase;
}

.coverflow-container
{
  position: relative;
  height: 790px;
}

.coverflow__top-image
{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.coverflow__bottom-image
{
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.thanks-letter__text
{
  position: absolute;
  width: 100%;
  top: 80px;
  background-color: var(--color-green);
  color: var(--color-white);
  font-size: 26px;
  line-height: 36.4px;
}

.thanks-letter__heading
{
  font-weight: 700;
}

.thanks-letter__text ul
{
  margin-left: 50px;
}


@media only screen and (max-width: 991px) {
  .coverflow__image--heading-description-description
  {
    font-size: 25px;
    font-weight: 900;
    line-height: 20px;
  }
  
  .coverflow__image--description
  {
    top: 18px;
  }

  .coverflow-size
  {
    width: 555px;
  }
}

@media only screen and (max-width: 991px) {
  .coverflow-size
  {
    width: 500px;
    height: 150px;
  }

  .coverflow__image
  {
    width: 85px;
    height: 75px;
  }
}
