.footer__bottom
{
  border-radius: var(--border-radius);
}

.footer__bottom-bottom
{
  display: flex;
  justify-content: space-between;
}

.footer__bottom-map
{
  width: 67.5%;
}

.footer__bottom-links
{
  width: 30%;
}
