.form
{
  width: 35%;
}

.form__top
{
  background-color: var(--color-green);
  background-image: url('../../images/background\ form.png');
  padding: 35px 30px 30px;
  border-radius: var(--border-radius);
}

.form__element
{
  display: flex;
  flex-direction: column;
}

.form__input
{
  border-radius: 8px;
  font-size: 16px;
  line-height: 23px;
}

.form__input--theme-white
{

}

.form__input-size
{
  width: 100%;
  height: 40px;
  padding: 0 14px;
}