.grid-image-description
{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.grid-image-description-left
{
  width: 50%;
}

.grid-image-description-left__item
{
  display: flex;
  align-items: center;
}

.grid-image-description__image
{
  display: flex;
  position: relative;
}

.grid-image-description__image-image
{
  width: 47px;
  height: 40px;
}

.grid-image-description__heading
{
  font-size: 26px;
  line-height: 36px;
}

.grid-image-description__image-middle-image
{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%);
}

.grid-image-description-form-columns
{
  position: relative;
}

.grid-description__theme-light-blue
{
  background-color: var(--color-light-blue);
}

.grid-description__heading
{
  font-size: 56px;
  line-height: 78px;
}

.grid-image-description__item-image
{
  width: 100px;
  height: 85px;
}