.heading
{
  text-align: center;
  font-size: 30px;
  line-height: 42px;
}

.heading--theme-blue
{
  color: var(--color-blue);
}

.heading--theme-white
{
  color: var(--color-white);
}

.heading--theme-dark-blue
{
  color: var(--color-dark-blue);
}

.seperator__heading
{
  color: var(--color-white);
  font-size: 32px;
  line-height: 45px;
  text-align: center;
}

.heading--theme-dark
{
  color: var(--color-dark);
  font-weight: 400;
}

.heading--theme-black
{
  color: var(--color-black);
}

.heading__text-center
{
  text-align: center;
}

.heading__thanks-letter
{
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  text-align: center;
}

.heading-size
{
  width: 40%;
  margin: 0 auto;
  font-weight: 700;
}

.heading--theme-green
{
  color: var(--color-green);
}
