.seperator__upper
{
  display: flex;
  align-items: center;
}

.seperator__heading
{
  color: var(--color-white);
  font-size: 32px;
  line-height: 45px;
  text-align: center;
}

.seperator__upper-image
{
  width: 46px;
  height: 46px;
  background-color: var(--color-yellow);
  padding: 10px;
  border-radius: 50%;
}

.seperator__upper-text
{
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
}

@media only screen and (max-width: 1060px) {
  .seperator__upper-text
  {
    font-size: 20px;
  }
}

@media only screen and (max-width: 991px) {
  .seperator__heading
  {
    font-size: 28px;
    line-height: 40px;
  }
}